[netfa]
my_site=site2
fa_br_name=br-fa
fa_tun_name=fa-tun
controller_br_name=br-int

[ovn]
ovsdb_connection=tcp:10.0.2.6:6640

[mgmt]
username=admin
password=password
tenant_name=demo
site1_ip=10.0.2.4
site1_name=site1
site2_ip=10.0.2.6
site2_name=site2
fa1_ip=10.0.2.8
fa2_ip=10.0.2.9
fa1_port=4567
fa2_port=4567
fa1_dp_ip=10.0.2.8
fa2_dp_ip=10.0.2.9
#fa1_dp_port=4789
#fa2_dp_port=4789
